.card-article {
    padding: 0 1rem 1rem 1rem;
    @include flex-column;
    border: 3px solid $blue;
    border-radius: 5px;
}

.card-image img {
    height: 150px;
    width: 150px;
}

.card-title {
    width: 100%;
    @include flex-row;
    // gap: 1rem;
    color: $blue;
}

.card-title h2 {
    text-align: center;
}

.card-title a {
    text-decoration: none;
    color: inherit;
}

.card-article a:hover {
    font-size: 1.1rem;
}

.card-article th {
    font-size: 0.8rem;
    font-weight: 600;
    color: $blue;
}
.card-article td {
    font-size: 0.8rem;
}