.title-article h1 {
    margin-bottom: 0;
}

.type-div {
    @include flex-row;
    gap: 2rem;
}

.things-div {
    @include flex-row;
    align-items: flex-start;
}

.image-div img {
    max-width: 100vw;
}

.info-div tspan {
    font-size: 0.7rem;
    font-weight: 600;
}