@import '../utils/variables.scss';
@import '../utils/mixins.scss';

footer {
    @include flex-row;
    justify-content: right;
}

footer a {
    bottom: 0;
    position: absolute;
    text-decoration: none;
    font-size: 0.7rem;
    color: inherit;
}