@import '../utils/variables.scss';
@import '../utils/mixins.scss';



main {
    @include flex-column;
    gap: 3rem;
}

section {
    box-sizing: border-box;
}

h1 {
    color: $blue;
    font-size: 3rem;
    text-align: center;
}

.title-section {
    // No funciona
    background-image: url('../../assets/images/logo-big.png');
    max-width: 1100px;
    @include flex-row;
    margin-top: 3rem;
}

.logo-big {
    width: 70%;;
}

button {
    height: 1.3rem;
    background-color: $blue;
    color: white;
    border: none;
    border-radius: 2px;
}