@import './components/Header';
@import './components/Main';
@import './components/Footer';

@import './components/New';


@import './components/Search';
@import './components/List';
@import './components/Card';

@import './views/App';