@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

$montserrat: 'Montserrat';
$noto-sans: 'Noto Sans';

$light-blue: #8ecae6;
$blue: #1d8098;
$dark-blue: #023047;
$light-orange: #ffb703;
$orange: #fb8500;